* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-in;
  }

  html {
    height: 100%;
  }

  html,
  body {
    min-height: 100%;
  }

  body {
    font-size: 26px;
    font-weight: 400; 
    font-family: "Tebuchet MC", Tebuchet, Arial, sans-serif;
    border: 20px solid #fff;
    background-color: #3B3F45;
    color: #F9F9F9;
  }

  header,
  footer {
    text-align: center;
    background: #4A4F56;
    padding: 20px 0;
    color: #eb7e7f;
  }

  h1,
  h3 {
    color: #eb7e7f;
    font-weight: 600;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
  }

 main {
    margin: 0 auto;
    max-width: 800px;
    padding: 40px 20px;
  }

  .shopping-list {
    list-style: none;
    padding: 0;
    margin: 0 0 40px;
  }

  .shopping-list li {
    background: #7a7593;
    border: 0 solid #fff;
  }

  .shopping-list li:nth-child(odd) {
    background: #88839e;
  }

  .shopping-list li:hover {
    background: #625e77;
    border-width: 4px 0;
  }

  .shopping-list li:active {
    background: #eb7e7f;
  }

  .shopping-list [type="checkbox"] {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    cursor: pointer;
    margin-right: 10px;
  }

  .shopping-list [type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: #a3a0b5;
  }

  .shopping-list label {
    display: block;
    cursor: pointer;
    padding: 15px;
  }

  .shopping-list small {
    font-size: 60%;
    color: #cdcbd6;
    vertical-align: middle;
  }

  .shopping-list small:before {
    content: '(';
  }
  .shopping-list small:after {
    content: ')';
  }
  